body {
    transition: background-color 1.5s ease;
    transition: color 0.5s ease;
}

.description {
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition:max-height 0.5s ease-in-out;
}

#animation>div {
    transition: width 2.0s ease !important;
}