:root {
    --animation-timing: 5s;
    --carousel-items: 9;
    --animation-delay-fraction: $animation-timing / $carousel-items;
    --animation-steps-fraction: 100 / $carousel-items;
    --slide-change-timing: 3;
}

.known-wrapper {
  background: linear-gradient(60deg, #420285, #08BDBD);
  height: 100%;
  width: 80%;
  font-size:24px;
  display: flex;
  justify-content: center;
}

.known-carousel {
  height:150px;
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-item {
  height:50px;
  position:absolute;
  display: none;
  justify-content: center;
  width: 100%;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
}

.carousel-item.prepare {
    display:flex;
    animation: carousel-animate-prepare var(--animation-timing) ;
    transform: translateY(-10%) scale(0.6);
}
.carousel-item.appear {
    display:flex;
    animation: carousel-animate-show var(--animation-timing) ;
}

.carousel-item.showing {
    font-size: larger;
    display:flex;
}

.carousel-item.hide {
    display:flex;
    animation: carousel-animate-hide var(--animation-timing) ;
}

@keyframes carousel-animate-hide {
  0%,33%{
    transform: translateY(10%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  33%,66%{
    transform: translateY(-30%) scale(0.6);
    opacity: 0.5;  
  }
  66%,100%{
    transform: translateY(-60%) scale(0.6);
  }
}
@keyframes carousel-animate-show {
  0%,33%{
    transform: translateY(35%) scale(0.6);
  }
  33%,66%{
    transform: translateY(10%) scale(0.6);
    opacity: 0.5;
  }
  66%,100%{
    transform: translateY(-10%) scale(1);
    opacity: 1;  
  }
}

@keyframes carousel-animate-prepare {
    0%,33%{
        transform: translateY(40%) scale(0.6);
        opacity: 0;
    }
    33%,66%{
        opacity: 0.3;
    }
    66%,100%{
        transform: translateY(20%) scale(0.6);
        
        opacity: 0.5;  
    }
  }
