*{
  font-family: sans-serif;
}
body section {
  width: 70%;
}
header{
  text-align: center;
}
.row{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.row > o-card {
  width: 33%;
  min-height:100%;
}

.full-row{
  width:100%;
}

.navigation{
  float:left;
}

#animation {
  display: flex;
  flex-direction: column;
}
#animation > div {
  content-visibility: auto;

  background-color:gray;
  border-radius: 25px;
}
#animation > div {
  transition: width 2.0s ease !important;
  width: 0;
  font-size: 50px;
}

.links > div{
  width:30%;
  margin-left:3%;
}
.links > div > a{
  width:33%;
}
.links > div > a > img{
  width:100%;
  height:70%;
}

#work-history>o-card{
  width:49%;
  margin-top:1%;
}
#work-history>o-card:nth-child(n){
  margin-right:1%;
}
#work-history>o-card:nth-child(2*n){
  margin-left:1%;
}

@media screen and (max-width: 600px) {
  div>o-card,section>o-card{
    width:100% !important;
    margin-top:1%;
  }
  div>o-card:nth-child(n),section>o-card:nth-child(n){
    margin-right:unset;
  }
  div>o-card:nth-child(2*n),section>o-card:nth-child(2*n){
    margin-left:unset;
  }
  .navigation{
    display:none;
  }
}