body section {
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.theme-button {
  text-align: right;
}

.job {
  max-height:150px;
  margin-bottom: 15px;
}

.language{
  max-height:150px;
}
.title{
  text-align:center;
  padding:50px 0;
}
.description{
  text-align:center;
}
.description:hover,
.title:hover + .description {
  left: 25%;
}

#animation > div {
  margin-top: 5px;
  overflow:hidden;
  padding-top:5px;
}

#known{
  margin-top:25px;
}

#known > div , #languages > div{
  margin: 0 auto 50px auto;
}

#animation > div:nth-child(1) {
  text-align: right;
  align-self: flex-start;
}

#animation > div:nth-child(2) {
  align-self: flex-end;
  text-align: left;
}
